/node_modules
/public/hot
/storage/*.key
/vendor
/test
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml 
npm-debug.log
yarn-error.log
/.idea
/.vscode
.env_bak 
storage/framework/
/bootstrap/cache/
/public/organisations/
/storage/app/private/
/storage/app/public/
.aider*
.worktrees/
