<div class="relatie top-0 w-full h-full bg-center bg-cover object-fit" style="
            background-image: url('images/background_images/nab_raj_roshyara.JPG');
            width: full;
            min-height: 180px;
            /* color: pink; */
          ">
     <span id="blackOverlay" class="w-full min-h-150 absolute opacity-50 bg-black md:min-h-300 "></span>
      <!-- <div class="h-30"> </div> -->
    </div>
      <div class="min-h-200 text-red-500">
      </div>
    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0px)">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>


    </div>

    <div class="bg-cover bg-center min-h-100"
    style="background-image: url('images/background_images/nab_raj_roshyara.JPG')
        width: full;


    ">